<div class="hero-unit">
  <h1>VerifiedMail</h1>
  <p>Easy email verification</p>

  <hr>
  <p class="lead">
    We aim to create an email verification system that preserves the authentication guarantee of currently used systems, while being easier to use, less invasive, and able to integrate with existing webmail clients.</p>
  <p>
    We solve this problem by decoupling sending an email from signing the email. Rather than embedding the verification as part of the email, we upload the verification to a server. This way, the email can be sent and received as a totally normal email, while also allowing verification and authentication.
  </p>
</div>